
<div layout="row" layout-sm="column" layout-align="center center">

    <div flex="60">
            <div class="panel panel-default">

                <md-toolbar class="toolbar-form">
                    <h2 class="md-toolbar-tools">
                        <span>Cambiar Contraseña</span>
                    </h2>
                </md-toolbar>
                <br /><br />
                <form method="post" name="ChangePasswordForm"
                        ng-submit="ChangePasswordForm.$valid && submit()"
                        role="form" novalidate>

                    <div layout="row" layout-sm="column">
                        <div flex="10" hide-sm> </div>
                        <h4 class="md-headline" flex="80" flex-sm="100" style="color:blue;">{{ message }}</h4>
                        <div flex="10" hide-sm> </div>
                    </div>

                    <div layout="row" layout-sm="column">
                        <div flex="10" hide-sm> </div>
                        <md-input-container flex="80" flex-sm="100">
                            <label>Contraseña actual</label>
                            <input type="password" name="OldPassword" ng-model="model.OldPassword" required>
                            <div ng-messages="ChangePasswordForm.OldPassword.$error">
                                <div ng-message="required">Campo requerido</div>
                            </div>
                        </md-input-container>
                        <div flex="10" hide-sm> </div>
                    </div>

                    <div layout="row" layout-sm="column">
                        <div flex="10" hide-sm> </div>
                        <md-input-container flex="80" flex-sm="100">
                            <label>Nueva Contraseña</label>
                            <input type="password" name="NewPassword" ng-model="model.NewPassword" required>
                            <div ng-messages="ChangePasswordForm.NewPassword.$error">
                                <div ng-message="required">Campo requerido</div>
                            </div>
                        </md-input-container>
                        <div flex="10" hide-sm> </div>
                    </div>

                    <div layout="row" layout-sm="column">
                        <div flex="10" hide-sm> </div>
                        <md-input-container flex="80" flex-sm="100">
                            <label>Confirmar Nueva contraseña</label>
                            <input type="password" name="ConfirmPassword" ng-model="model.ConfirmPassword" required>
                            <div ng-messages="ChangePasswordForm.ConfirmPassword.$error">
                                <div ng-message="required">Campo requerido</div>
                            </div>
                        </md-input-container>
                        <div flex="10" hide-sm> </div>
                    </div>

                    <br />
                    <div layout="row" layout-sm="column">
                        <div flex="10" hide-sm> </div>
                        <md-button class="md-raised md-primary" aria-label="login"
                                    ng-disabled="ChangePasswordForm.$invalid" type="submit" flex="80">Guardar</md-button>
                        <div flex="10" hide-sm> </div>
                    </div>
                </form>
                <br /><br />

            </div>
    </div>

</div>
