<style>
    body, html {
        height: 100%;
    } 
</style>

    <div class="container">
        <div class="page-header text-center">
            <h1>Plataforma Vital</h1>
        </div>
        <p>Esta aplicacion Web almacena el historial clinico o anamnesis de los pacientes colombianos con el fin de agilizar los procesos en el sistema de salud en caso de necesitar asistencia medica.</p>
    </div>


<div layout="row">
    <div flex="20">
        &nbsp;
    </div>
    <div flex="60">
        <h2>Loguearse</h2>
        <h4>Con tu correo y password puedes loguearte a la plataforma VITAL.</h4>
        <section layout="row" layout-sm="column">
            <md-button flex="20" class="md-raised md-primary" data-ng-hide="authentication.isAuth" ng-href="#/login"> Ir &raquo;</md-button>
            <div flex="40"></div>
            <div flex="40"></div>
        </section>
    </div>

    <div flex="20">
        &nbsp;
    </div>
</div>
